<h1>
  <img src="/assets/img/logo-title.png" alt="No Boredom" />
</h1>
<div id="carregando" style="display: none">
  <img src="/assets/img/tedio.png" alt="Zumbi com Tédio" />
  <h2>Não vire zumbi ainda!</h2>
  <p>Sua sugestão já está vindo</p>

  <div id="animation">
    <div></div>
    <span></span>
    <div></div>
  </div>
</div>
<div id="atividade">
  <div class="title-active">
    <img src="/assets/img/atividade.png" alt="Zombie" />
    <h2>Nome da Atividade</h2>
    <img src="/assets/img/hobbies/anime.jpg" alt="Nome da Atividade" />
  </div>
  <div class="info">
    <span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </span>
    <ul>
      <li>
        <a>Tutorial Iniciante</a>
      </li>
      <li>
        <a>Tutorial Avançado</a>
      </li>
      <li>
        <a>Lista de lugares</a>
      </li>
    </ul>
  </div>
</div>
