<h1>
  <img src="/assets/img/logo-title.png" alt="No Boredom" />
</h1>
<div id="carregando" *ngIf="loading">
  <img src="/assets/img/tedio.png" alt="Zumbi com Tédio" />
  <h2>Não vire zumbi ainda!</h2>
  <p>Sua sugestão já está vindo</p>

  <div id="animation">
    <div></div>
    <span></span>
    <div></div>
  </div>
</div>
<div id="atividade" *ngIf="!loading">
  <div>
    <div>
      <img src="/assets/img/atividade.png" alt="Zombie" />
      <h2>{{atividade.name}}</h2>
    </div>
    <main>
      <img src="/assets/img/hobbies/{{atividade.image}}.jpg" alt="{{atividade.name}}" />
      <div>
        <p>{{atividade.describle}}</p>
        <ul>
          <li *ngFor="let link of atividade.links">
            <a href={{link.link}} target="_blank"><i class={{link.icon}}></i> {{link.text}}</a>
          </li>
        </ul>
      </div>
    </main>
  </div>
  <i class="fas fa-redo-alt" (click)="start()"></i>
</div>
